.page__wrapper{
  margin: 30px;
  display: flex;
  
  justify-content: center;
}

.page{
  padding: 10px;
  border: 1px solid teal;
  cursor: pointer;
}

/* страница, которая выбрана в текущий момент */
.page__current
{
border: 3px solid teal;
background-color:rosybrown;
font-weight: bold;
}